# rename this to .env and provide your ENV vars
SESSION_SECRET=86f18bb767545f5b740c0423c966b108cbef1d51c3ccde35fc0c6f42f3d0a0e8fc6b21f275b548f9526eedec7b01292abf5889297f0dd0d483b36ffb528381f9
DATABASE_URL=postgresql://localhost:5432/sourced_todo
# If this var is provided, this demo will launch a Slack notifier actor
# See here for creating webhooks in your Slack account
# https://api.slack.com/messaging/webhooks
# SLACK_WEBHOOK_URL=https://hooks.slack.com/services/<KEY1>/<KEY2>
